*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body{
    background-color: #242526;
}

.text{
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
}

.imageClass{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    border: 2.5px solid #fff;
    height: 650px;
    width: 500px;
    border-radius: 20px;
}

